/* Miscellaneous CSS */

/* sets button colour on carousel */
#button {
  background-color: #43282d;
  border: 1px solid #715250;
  border-radius: 5px;
  color: white;
  margin-bottom: 3%;
}

#button:hover {
  background-color: #954b2e;
}

footer {
  height: 50px;
}

/* line separators */
.separatorRed {
  height: 2.5px;
  background-color: #b51c14;
  margin-top: 5%;
}
.separatorBrown {
  height: 2.5px;
  background-color: #954b2e;
  margin-top: 5%;
}

.separatorGrey {
  height: 2.5px;
  background-color: #43282d;
  margin-top: 5%;
}

/* overrides bootstrap's button colours on modal */
.btnOverRide {
  background-color: #43282d !important;
  border: 1px solid #715250 !important;
  border-radius: 5px;
  color: white;
}

.btnOverRide:hover {
  background-color: #954b2e !important;
}

/* gives album pics border when hovered */
.bd-placeholder-img:hover {
  border: 2px solid #43282d;
}

@media only screen and (min-width: 486px) {
  .bd-placeholder-img {
    height: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .bd-placeholder-img {
    height: 275px;
  }
}
