@import url("https://fonts.googleapis.com/css?family=Bilbo&display=swap"); /* h1 */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap"); /* main body */
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

body {
  color: #43282d;
  font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
}

h1 {
  font-family: "Bilbo", cursive;
  font-size: 4.5rem;
  color: #b51c14;
}

h1::first-letter {
  font-size: 5rem;
}

/* text on carousel slides */
h2 {
  text-shadow: 1px 1px 2px #43282d;
}

/*each section title (i.e. Welcome) */
h3 {
  font-family: Merriweather, Garamond, "Times New Roman", serif;
  /* color: #b51c14; */
}

/* beverage subcategories */
h4 {
  color: #954b2e;
}

/* cupcake flavours */
h4.card-text {
  font-size: 1.2em;
  color: #954b2e;
}

/* limited time only in carousel */
p small {
  color: white;
}

footer {
  font-size: 0.8rem;
}

nav a,
.carousel-caption a {
  color: #954b2e !important;
}

.day {
  color: #954b2e !important;
  font-size: 1.2em;
}

footer a {
  color: #43282d;
}

a:hover {
  color: #b51c14 !important;
}

/* social media */
.icons {
  color: #43282d;
  font-size: 2em;
}

.icons:hover {
  transform: rotate(25deg);
}

/* carousel arrows */
.arrows {
  color: #43282d;
}
